@import '../../../common.styl'

.screenWrapper
  padding 28px

.screen
  background white
  coolScrollbar()

  div
    display flex
    flex-direction column
    gap 1vw

.items
  display flex

.status
  display flex
  width 22.5vw
  justify-content: space-between
  align-items center

.statusTag
  width 15vw