@import '../../../common.styl'

.screenWrapper
  display border-box
  background white
  padding-right 5vw

.screen
  background white
  height 100%
  width 100%
  padding-left 5vw
  padding-top 2.5vw

.table
  border #F5F5FA solid 2px
  border-radius 5px
  padding-inline 1vw

.head
  padding-bottom 0.5vw

.row
  display flex
  gap 1vw
  align-items center

.row > div:nth-child(1)
  width 5vw

.row > div:nth-child(2)
  width 14vw

.row > div:nth-child(3)
  width 16vw

.row > div:nth-child(4)
  width 10vw

.row > div:nth-child(5)
  width 16vw


.body
  display block

.pagination
  display flex
  align-items center
  justify-content flex-end
  padding-top 0.5vw

  button
    margin-left 0.5vw