@import '../../../../../common.styl'

.row
  min-height 32px
  padding-block 8px
  border-bottom #F5F5FA solid 2px
  display flex
  align-items center
  gap 1vw

.row > div:nth-child(1)
  width 5vw

.row > div:nth-child(2)
  width 14vw

.row > div:nth-child(3)
  width 16vw

.row > div:nth-child(4)
  width 10vw

.row > div:nth-child(5)
  width 16vw

.orderNumber
  font-weight 500
  color $primary-dark